{% extends "base.html" %}
{% load static %}
{% block body_class %}home-page{% endblock %}
{% block title %}Emilia Grace{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="blog-post">
            <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: inherit;">
                <h2>{{ post.title }}</h2>
                <p><em>{{ post.published_date }}</em></p>
                <div>{{ post.content|truncatewords:75 }}</div>
            </a>
        </div>
    {% empty %}
    <p>No posts yet.</p>
    {% endfor %}
{% endblock %}
